<div align="center"><h1> {{ mensagem }} </h1></div>

    <table class="table">
      <thead>
        <tr>
          <th>Tarefa</th>
          <th>Responsavel</th>
          <th>Prazo</th>

          <th>Ações</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input class="form-control" ng-model="action.name"></td>
          <td><input class="form-control" ng-model="action.email"></td>
          <td><input class="form-control" ng-model="action.number"></td>
          <td><button class="btn btn-primary" ng-click="addAction()">Adicionar</button></td>
          <td><button class="btn btn-info" ng-click="update()">Atualizar</button>&nbsp;&nbsp;
              <button class="btn btn-info" ng-click="deselect()">Limpar</button></td>
        </tr>
        <tr ng-repeat="action in actionlist">
          <td>{{action.name}}</td>
          <td>{{action.email}}</td>
          <td>{{action.number}}</td>
          <td><button class="glyphicon glyphicon-remove" ng-click="remove(action._id)"></button></td>
          <td><button class="glyphicon glyphicon-edit" ng-click="edit(action._id)"></button></td>
        </tr>
      </tbody>
    </table>