 <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
      
      <li class="active">
          <a ng-href="#/home"      >HOME</a></li>
      
      <li>  <a ng-href="#/kpi"       >INDICADORES</a> </li>

      <li>  <a ng-href="#/detail_kpi">ATUALIZAR</a> </li>
      
      <li>  <a ng-href="#/dash"      >DASHBOARD</a> </li>
      
      <li>  <a ng-href="#/action"    >PLANO DE AÇÃO</a> </li>

      <li>  <a ng-href="#/outro"     >USUÁRIOS</a>  </li>

      <li>  <a ng-href="#/login"     >ENTRAR</a>  </li>

    </ul>
  </div>